@charset "UTF-8";
.Accordion {
	float: left;
	margin-top: 30px;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	border-bottom: solid 1px gray;
	overflow: hidden;
}
.AccordionPanel {
	margin: 0px;
	padding: 0px;
}
.AccordionPanelTab {
	background-color: #555555;
	color:#CCCDDD;
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	margin: 0px;
	padding: 2px;
	padding-left: 20px; 
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	transition-duration: 300ms;	
}
.AccordionPanelContent {
	overflow: auto;
	margin: 0px;
	padding: 20px;
	height: 300px;
	color:#000:
}
.AccordionPanelOpen .AccordionPanelTab {
	background-color: #777777;
	color:#000:
}
.AccordionPanelTabHover {
	color:#FF0000;
	background-color:#666666;
	transition-duration: 300ms;	
}
.AccordionPanelOpen .AccordionPanelTabHover {
	color:#FF0000;	
}
.AccordionFocused .AccordionPanelOpen .AccordionPanelTab {
	background-color: #555555;
	color:#000:
}
@media print {

  .Accordion {
  overflow: visible !important;
  }
  .AccordionPanelContent {
  display: block !important;
  overflow: visible !important;
  height: auto !important;
  }
}